html {
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;
    background-color: #e6f1e1; /*Background color in body*/
    font-family: monospace;
    margin: 0;
    padding: 0;

    /*Used for the back on top button*/
    --container-height: 130vh;
    height: var(--container-height);
}

/*.top {
    --distance-to-scroll: 50px;

    margin-top: calc( var(--container-height) + var(--distance-to-scroll) );
    position: sticky;
    bottom: 30px;
    left: 85%;

    /* visual styling */
    /*text-decoration: none;
    padding: 10px;
    color: #013833;
    background: rgb(22, 25, 37);
    border-radius: 100px;
    white-space: nowrap;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}*/

/*MediaQuery Smartphone*/

@media screen and (max-width: 767px) {
    .top {
        left: 75%;
    }
}